## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % (4) /6 -1
5 + 0 / 6 - 1
5 -1
4

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [4]:
a= int(input("Enter the value : "))

if a %2 ==0 :
    print('Entered number is even.')
else:
    print('Entered number is odd.')

Enter the value : 5
Entered number is odd.

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [7]:
num = int(input('Enter the number : '))
for i in range(1,11):
       print(f"{num} x {i} = {num*i}")

Enter the number : 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [18]:
l1 =[]
for i in range(2000,3201):
    if i%7 ==0 and i%5 !=0:
        l1.append(i)
result_str= ','.join(map(str,l1))
print(result_str)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [46]:
l1= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
count_int=0
count_str=0
count_float=0
count_bool=0
for i in l1:
    if type(i)== int:
        count_int = count_int+1
    elif type(i) == str:
        count_str= count_str+1
    elif type(i) == float:
        count_float= count_float+1
    else :
        count_bool= count_bool+1
print(count_int)
print(count_str)
print(count_float)
print(count_bool)

5
4
1
2

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [49]:
add = []
for i in l1:
    if type(i)== int or type(i)== float:
        add.append(i)
print(sum(add))

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [90]:
l1=  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
d = []
for i in l1:
    if type(i)== str:
        d.append(i)
'-'.join(d)

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [14]:
def my_func(x):
    count_str =0
    for i in x:
        if type(i)== str:
            count_str= count_str+1
    print("The count is str:",str(count_str))

In [12]:
my_func([2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7])

The count is str:4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [26]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
l2=[]

list(filter(lambda i: i%2 !=0,li))

#for i in li:
#    if i%2 !=0:
#        l2.append(i)
#print(l2)

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [104]:
inputs = input('Enter the value in comma separate : ')

inputs_list= inputs.split(",")

for i in range(len(inputs_list)):
    inputs_list[i]= int(inputs_list[i])
    
print(f'SUM= {sum(inputs_list)}')

print(f'Min_val= {min(inputs_list)}')

print(f'Max_val= {max(inputs_list)}')

print(f'mean={sum(inputs_list)/len(inputs_list)}')

print(f'Count= {len(inputs_list)}')

Enter the value in comma separate : 3,6,9,12,15
SUM= 45
Min_val= 3
Max_val= 15
mean=9.0
Count= 5

In [117]:
def cal_num(numbers):
    
    sum_num = sum(numbers)
    count_num =len(numbers)
    min_num = min(numbers)
    max_num = max(numbers)
    mean_num = sum_num/count_num
    return (f'SUM= {sum_num}\nCount={count_num}\nMIN={min_num}\nMAX={max_num}\nMean={ mean_num}')

In [118]:
l1= [3,5,8,3,5]
des = cal_num(l1)
print(des)

SUM= 24
Count=5
MIN=3
MAX=8
Mean=4.8

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [132]:
def shape_func(shape,**kwarg):
    
    if shape == 'square':
        Area = kwarg['side']**2
        print(Area)
    elif shape == 'rectangle':
        Rec_Vol = kwarg['length']*kwarg['breadth']
        print(Rec_Vol)
    elif shape == 'Circle':
        Circle_vol = 3.14*kwarg['r']**2
        print(Circle_vol)

In [135]:
shape_func(shape = 'Circle', r= 3)

28.26

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [151]:
output = {}
def diff_match(a,b):
    output['Matched']= list(set(a).union(set(b)))
    output['Only_l1']= list(set(a).difference(set(b)))
    output['Only_l2']= list(set(b).difference(set(a)))
    return output

In [153]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
print(diff_match(l1,l2))

{'Matched': ['June', 'May', 'March', 'February', 'December', 'January', 'September', 'October', 'April'], 'Only_l1': ['September', 'May', 'March'], 'Only_l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [168]:
def prime_check(x):
    if x %2==0:
        print(' The given number is not prime number.')
    else:
        print(' This is prime number cause either it will dive from 1 or self number.')

In [169]:
prime_check(37)

 This is prime number cause either it will dive from 1 or self number.

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [189]:
num = int(input("Enter the value to find the factorial : "))
result = 1

for i in range(1,num+1):
    result= result*i
print(result)

Enter the value to find the factorial : 6
720

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [206]:
value = int(input("Enter the value : "))
result={}
for i in range(1,value):
    result[i]=i*i 
print(result)

Enter the value : 6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [215]:
numbers = input("Enter the value in comma separate : ")

numbers_list = numbers.split(',')
numbers_tuple = tuple(numbers_list)

print(numbers_list)
print(numbers_tuple)

Enter the value in comma separate : 2,4,6,8,9
['2', '4', '6', '8', '9']
('2', '4', '6', '8', '9')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [234]:
sentences = input("Enter the sentence : ").split(",")
sentences_1= sorted(sentences)
sen_2 = ",".join(sentences_1)
print(sen_2)

Enter the sentence : without,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [257]:
inputs = input("Enter the sentence : ").split(" ")
words_0= list(set(inputs))
words_0.sort()
result= ' '.join(words_0)
print(result)

Enter the sentence : hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [261]:
inputs = input("Enter the sentence :").split(" ")
words = list(set(inputs))
words.sort()
result = " ".join(words)
print(result)

Enter the sentence :hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [194]:
sentence = input("Enter the sentences : ")
upper_count = 0
lower_count = 0

for i in sentence:
    if i.isupper():
        upper_count+=1
    elif i.islower:
        lower_count+=1
print(f'Upper_Case= {upper_count} ,Lower_Case= {lower_count}')

Enter the sentences : Hello Brother
Upper_Case= 2 ,Lower_Case= 11

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [188]:
inputs = str(input("enter the string : "))

print(inputs[::-1])

enter the string : dgh123
321hgd